body{
    background-color: #EAE7DC;
    font-family: arial;
}

div.header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #E85A4F;
    text-align: center;
    background-color: #D8C3A5;
    height: 10vh;
    font-family: 'Times New Roman';
}
#headShare{
    font-size: 6vh;
    margin-top: 1vh;
}

#headerButton{
    text-decoration: none;
    top: 0;
    right: 0;
    left: 0;
    color: #E85A4F;
    height: 10vh;
    font-family: 'Times New Roman';  
    cursor: pointer;  
}

a:hover {
    cursor: pointer;
}


div.profileImageContainer{
    position: relative;
}

#homeIcon{
    position: absolute;
    top: 1vh;
    left: 1vh;
    height: 6vh;
    width: 6vh;
    cursor: pointer;
}

div.dropDown{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline-block;
}
.dropDownContent {
    left:auto;
    right:4px;
    margin-right:-10px;

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.show{
    display:block;
}

#profileImage{/*
    position: absolute;
    top: 0px;
    right: 0px; */
    height: 8vh;
    width: 8vh; 
    cursor: pointer;
}

.dropDownContent a {
    color: black;
    padding: 4px 6px;
    text-decoration: none;
    display: block;
}

@media only screen and (max-width: 600px) {
    #headerButton{
        font-size: 6vh;
    }
}

@media only screen and (min-width: 600px) {
    #headerButton{
        font-size: 8vh;
    }
}