div.columnContainer{
    padding-top: 12vh;
    padding-left: 1%;
    padding-right: 1%;
}
div.columnContainer:after {
    content: "";
    display: table;
    clear: both;
}

div.groupColumn{
    height: fit-content;
    float: left;
    top: 12vh;
    width: 96%;
    padding: 2.5%;
    padding-top: 0px;
    border: 2px solid #E85A4F;
    border-radius: 8px;
}

div.activityColumn{
    height: fit-content;
    float: left;
    margin-top: 2%;
    padding-left: 2.5%;
    padding-top: 0px;
    width: 96%;
    border: 2px solid #E85A4F;
    border-radius: 8px;
}

div.columnHeaderLeft{
    float: left;
    width: 65%;
    margin-bottom: 1%;
}

div.columnHeaderRight{
    float: left;
    margin-left: 3%;
    width: 32%;
}

p.columnTitle{
    margin-top: 0px;
    margin-bottom: 2%;
    text-align: center;
    font-size: 5vh;
    font-family: 'Times New Roman';
    color: #E85A4F;
}

.groupColumn a.button {
    margin-top: 1%;
    background-color: #8E8D8A; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vh;
    cursor: pointer;
    width: -webkit-fill-available;
    display: block;
    border-radius: 8px;
    cursor: pointer;

}

.groupColumn a.button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

.groupColumn a.button:hover {
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: #E85A4F;
}

p.activityElem{
    font-size: 2.5vh;
    font-family: 'Times New Roman';
}

@media only screen and (max-width: 500px) {
    div.columnHeaderLeft {width: 100%;}
    div.columnHeaderRight {
        width: 100%;
        margin-left: 0px;
        margin-top: 3%;
    }
}

