body{
    background-color: #EAE7DC;
    font-family: arial;
}
div.header{
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #E85A4F;
    text-align: center;
    font-size: 8vh;
    background-color: #D8C3A5;
    height: 10vh;
    font-family: 'Times New Roman';
}
img{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.12;
    width: 100%;
    height: 100%;
    z-index: -2;
}

div.mainsignin{
    margin: auto;
    width: 50%;
    padding: 10%;
}
div.signin{
    margin: auto;
    width: 50%;
    padding: 25px;
}
div.signup{
    margin: auto;
    width: 50%;
    padding: 25px;
}

label{
    font-size: 14pt;
    color: #E98074;
}
button{
    padding: 4px;
    font-size: 14pt;
    background-color: #E85A4F;
    border-radius: 12px;
    color: #EAE7DC;
    cursor: pointer;
}
button:hover{
    background-color: #EAE7DC;
    color: #8E8D8A;
}
input[type=text]{
    padding: 4px;
    width: 75%;
}